adf-ucb-sisinfo-7268517/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-ucb-sisinfo-7268517"
		},
		"airbnb_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'airbnb'"
		},
		"dw_airbnb_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'dw_airbnb'"
		},
		"dw_airbnb_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sql-ucb-sisinfo-7268517.database.windows.net"
		},
		"dw_airbnb_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "dw-airbnb"
		},
		"dw_airbnb_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "gabriel"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/etl_airbnb')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "df_dim_price",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_dim_price",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_dim_day",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_dim_price",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_dim_day",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_dim_room_type",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_dim_day",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_dim_room_type",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_dim_person_capacity",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_dim_room_type",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_person_capacity",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_dim_cleanless_rating",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_dim_person_capacity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_dim_cleanless_rating",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_dim_bedrooms",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_dim_cleanless_rating",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_dim_bedrooms",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_dim_metro_distance",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_dim_bedrooms",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_dim_metro_distance",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_dim_normal_restaurant_index",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_dim_metro_distance",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_dim_normal_restaurant_index",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_normal_attraction_index",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_dim_normal_restaurant_index",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_normal_attraction_index",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_dim_city_distance",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_normal_attraction_index",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_dim_city_distance",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_guest_satisfaction",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_dim_city_distance",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dim_guest_satisfaction",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_private_room",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_guest_satisfaction",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_dim_private_room",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_shared_room",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_private_room",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_dim_shared_room",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_city",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_shared_room",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_dim_city",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "hechos_estancias",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_city",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_HECHOS_ESTANCIAS_v2",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"airbnbCsv": {},
									"dimprice": {},
									"dimDay": {},
									"dimRoomType": {},
									"dimPersonCapacity": {},
									"dimCleanlessRating": {},
									"dimBedrooms": {},
									"dimMetroDistance": {},
									"dimNormalRestaurantIndex": {},
									"dimNormalAttractionIndex": {},
									"dimCityDistance": {},
									"dimGuestSatisfaction": {},
									"dimPrivateRoom": {},
									"dimSharedRoom": {},
									"dimCity": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_dim_price')]",
				"[concat(variables('factoryId'), '/dataflows/df_dim_day')]",
				"[concat(variables('factoryId'), '/dataflows/df_dim_room_type')]",
				"[concat(variables('factoryId'), '/dataflows/df_person_capacity')]",
				"[concat(variables('factoryId'), '/dataflows/df_dim_cleanless_rating')]",
				"[concat(variables('factoryId'), '/dataflows/df_dim_bedrooms')]",
				"[concat(variables('factoryId'), '/dataflows/df_dim_metro_distance')]",
				"[concat(variables('factoryId'), '/dataflows/df_dim_normal_restaurant_index')]",
				"[concat(variables('factoryId'), '/dataflows/df_normal_attraction_index')]",
				"[concat(variables('factoryId'), '/dataflows/df_dim_city_distance')]",
				"[concat(variables('factoryId'), '/dataflows/dim_guest_satisfaction')]",
				"[concat(variables('factoryId'), '/dataflows/df_dim_private_room')]",
				"[concat(variables('factoryId'), '/dataflows/df_dim_shared_room')]",
				"[concat(variables('factoryId'), '/dataflows/df_dim_city')]",
				"[concat(variables('factoryId'), '/dataflows/df_HECHOS_ESTANCIAS_v2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/airbnb_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "airbnb",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "datos"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "airbnb.csv",
						"container": "airbnb"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "Price",
						"type": "String"
					},
					{
						"name": "Day",
						"type": "String"
					},
					{
						"name": "Room Type",
						"type": "String"
					},
					{
						"name": "Shared Room",
						"type": "String"
					},
					{
						"name": "Private Room",
						"type": "String"
					},
					{
						"name": "Person Capacity",
						"type": "String"
					},
					{
						"name": "Superhost",
						"type": "String"
					},
					{
						"name": "Multiple Rooms",
						"type": "String"
					},
					{
						"name": "Business",
						"type": "String"
					},
					{
						"name": "Cleanliness Rating",
						"type": "String"
					},
					{
						"name": "Guest Satisfaction",
						"type": "String"
					},
					{
						"name": "Bedrooms",
						"type": "String"
					},
					{
						"name": "City Center (km)",
						"type": "String"
					},
					{
						"name": "Metro Distance (km)",
						"type": "String"
					},
					{
						"name": "Attraction Index",
						"type": "String"
					},
					{
						"name": "Normalised Attraction Index",
						"type": "String"
					},
					{
						"name": "Restraunt Index",
						"type": "String"
					},
					{
						"name": "Normalised Restraunt Index",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/airbnb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dim_bedrooms')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_airbnb",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "dw"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "bedrooms",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DIM_BEDROOMS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_airbnb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dim_city')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_airbnb",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "dw"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "City",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DIM_CITY"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_airbnb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dim_city_distance')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_airbnb",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "dw"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "cityDistance",
						"type": "decimal",
						"precision": 23,
						"scale": 17
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DIM_CITY_DISTANCE"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_airbnb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dim_cleanless_rating')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_airbnb",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "dw"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "clRating",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DIM_CLEANLESS_RATING"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_airbnb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dim_day')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_airbnb",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "dw"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "DayType",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DIM_DAY"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_airbnb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dim_guest_satisfaction')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_airbnb",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "dw"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "guestSatisfaction",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DIM_GUEST_SATISFACTION"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_airbnb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dim_metro_distance')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_airbnb",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "dw"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "metroDistance",
						"type": "decimal",
						"precision": 22,
						"scale": 17
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DIM_METRO_DISTANCE"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_airbnb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dim_normal_attraction_index')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_airbnb",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "dw"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "normalAttractionIndex",
						"type": "decimal",
						"precision": 21,
						"scale": 18
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DIM_NORMAL_ATTRACTION_INDEX"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_airbnb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dim_normal_restaurant_index')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_airbnb",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "dw"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "normalRestaurantIndex",
						"type": "decimal",
						"precision": 21,
						"scale": 18
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DIM_NORMAL_RESTAURANT_INDEX"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_airbnb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dim_person_capacity')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_airbnb",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "dw"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "capacity",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DIM_PERSON_CAPACITY"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_airbnb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dim_price')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_airbnb",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "dw"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Price",
						"type": "decimal",
						"precision": 26,
						"scale": 18
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DIM_PRICE"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_airbnb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dim_private_room')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_airbnb",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "dw"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "IsPrivate",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DIM_PRIVATE_ROOM"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_airbnb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dim_room_type')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_airbnb",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "dw"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "RoomType",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DIM_ROOM_TYPE"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_airbnb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dim_shared_room')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_airbnb",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "dw"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "IsShared",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DIM_SHARED_ROOM"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_airbnb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/hechos_estancias')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_airbnb",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "dw"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_estancia",
						"type": "int",
						"precision": 10
					},
					{
						"name": "City",
						"type": "varchar"
					},
					{
						"name": "Price",
						"type": "decimal",
						"precision": 26,
						"scale": 18
					},
					{
						"name": "DayType",
						"type": "varchar"
					},
					{
						"name": "RoomType",
						"type": "varchar"
					},
					{
						"name": "IsShared",
						"type": "bit"
					},
					{
						"name": "IsPrivate",
						"type": "bit"
					},
					{
						"name": "capacity",
						"type": "int",
						"precision": 10
					},
					{
						"name": "superhost",
						"type": "bit"
					},
					{
						"name": "multipleRooms",
						"type": "bit"
					},
					{
						"name": "clRating",
						"type": "int",
						"precision": 10
					},
					{
						"name": "guestSatisfaction",
						"type": "int",
						"precision": 10
					},
					{
						"name": "bedrooms",
						"type": "int",
						"precision": 10
					},
					{
						"name": "cityDistance",
						"type": "decimal",
						"precision": 23,
						"scale": 17
					},
					{
						"name": "metroDistance",
						"type": "decimal",
						"precision": 22,
						"scale": 17
					},
					{
						"name": "AttractionIndex",
						"type": "decimal",
						"precision": 21,
						"scale": 18
					},
					{
						"name": "normalAttractionIndex",
						"type": "decimal",
						"precision": 21,
						"scale": 18
					},
					{
						"name": "normalRestaurantIndex",
						"type": "decimal",
						"precision": 21,
						"scale": 18
					},
					{
						"name": "RestaurantIndex",
						"type": "decimal",
						"precision": 21,
						"scale": 18
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "HECHOS_ESTANCIAS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_airbnb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/airbnb')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('airbnb_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dw_airbnb')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('dw_airbnb_properties_typeProperties_server')]",
					"database": "[parameters('dw_airbnb_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('dw_airbnb_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('dw_airbnb_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_dim_bedrooms')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "airbnb_csv",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dim_bedrooms",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "select1"
						},
						{
							"name": "sort1"
						},
						{
							"name": "aggregate1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          City as string,",
						"          Price as string,",
						"          Day as string,",
						"          {Room Type} as string,",
						"          {Shared Room} as string,",
						"          {Private Room} as string,",
						"          {Person Capacity} as string,",
						"          Superhost as string,",
						"          {Multiple Rooms} as string,",
						"          Business as string,",
						"          {Cleanliness Rating} as string,",
						"          {Guest Satisfaction} as string,",
						"          Bedrooms as integer,",
						"          {City Center (km)} as string,",
						"          {Metro Distance (km)} as string,",
						"          {Attraction Index} as string,",
						"          {Normalised Attraction Index} as string,",
						"          {Restraunt Index} as string,",
						"          {Normalised Restraunt Index} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 select(mapColumn(",
						"          bedrooms = Bedrooms",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sort(asc(bedrooms, true)) ~> sort1",
						"sort1 aggregate(groupBy(bedrooms),",
						"     each(match(name!='bedrooms'), $$ = first($$))) ~> aggregate1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          bedrooms as integer",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          bedrooms",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/airbnb_csv')]",
				"[concat(variables('factoryId'), '/datasets/dim_bedrooms')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_dim_city')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "airbnb_csv",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dim_city",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "select1"
						},
						{
							"name": "sort1"
						},
						{
							"name": "aggregate1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          City as string,",
						"          Price as string,",
						"          Day as string,",
						"          {Room Type} as string,",
						"          {Shared Room} as string,",
						"          {Private Room} as string,",
						"          {Person Capacity} as string,",
						"          Superhost as string,",
						"          {Multiple Rooms} as string,",
						"          Business as string,",
						"          {Cleanliness Rating} as string,",
						"          {Guest Satisfaction} as string,",
						"          Bedrooms as string,",
						"          {City Center (km)} as string,",
						"          {Metro Distance (km)} as string,",
						"          {Attraction Index} as string,",
						"          {Normalised Attraction Index} as string,",
						"          {Restraunt Index} as string,",
						"          {Normalised Restraunt Index} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 select(mapColumn(",
						"          city = City",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sort(asc(city, true)) ~> sort1",
						"sort1 aggregate(groupBy(city),",
						"     each(match(name!='city'), $$ = first($$))) ~> aggregate1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          City as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          City = city",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/airbnb_csv')]",
				"[concat(variables('factoryId'), '/datasets/dim_city')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_dim_city_distance')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "airbnb_csv",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dim_city_distance",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "select1"
						},
						{
							"name": "sort1"
						},
						{
							"name": "aggregate1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          City as string,",
						"          Price as string,",
						"          Day as string,",
						"          {Room Type} as string,",
						"          {Shared Room} as string,",
						"          {Private Room} as string,",
						"          {Person Capacity} as string,",
						"          Superhost as string,",
						"          {Multiple Rooms} as string,",
						"          Business as string,",
						"          {Cleanliness Rating} as string,",
						"          {Guest Satisfaction} as string,",
						"          Bedrooms as string,",
						"          {City Center (km)} as decimal(23,17),",
						"          {Metro Distance (km)} as string,",
						"          {Attraction Index} as string,",
						"          {Normalised Attraction Index} as string,",
						"          {Restraunt Index} as string,",
						"          {Normalised Restraunt Index} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 select(mapColumn(",
						"          cityDistance = {City Center (km)}",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sort(asc(cityDistance, true)) ~> sort1",
						"sort1 aggregate(groupBy(cityDistance),",
						"     each(match(name!='cityDistance'), $$ = first($$))) ~> aggregate1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          cityDistance as decimal(23,17)",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          cityDistance",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/airbnb_csv')]",
				"[concat(variables('factoryId'), '/datasets/dim_city_distance')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_dim_cleanless_rating')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "airbnb_csv",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dim_cleanless_rating",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "select1"
						},
						{
							"name": "sort1"
						},
						{
							"name": "aggregate1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          City as string,",
						"          Price as string,",
						"          Day as string,",
						"          {Room Type} as string,",
						"          {Shared Room} as string,",
						"          {Private Room} as string,",
						"          {Person Capacity} as string,",
						"          Superhost as string,",
						"          {Multiple Rooms} as string,",
						"          Business as string,",
						"          {Cleanliness Rating} as integer,",
						"          {Guest Satisfaction} as string,",
						"          Bedrooms as string,",
						"          {City Center (km)} as string,",
						"          {Metro Distance (km)} as string,",
						"          {Attraction Index} as string,",
						"          {Normalised Attraction Index} as string,",
						"          {Restraunt Index} as string,",
						"          {Normalised Restraunt Index} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 select(mapColumn(",
						"          clRating = {Cleanliness Rating}",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sort(asc(clRating, true)) ~> sort1",
						"sort1 aggregate(groupBy(clRating),",
						"     each(match(name!='clRating'), $$ = first($$))) ~> aggregate1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          clRating as integer",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          clRating",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/airbnb_csv')]",
				"[concat(variables('factoryId'), '/datasets/dim_cleanless_rating')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_dim_day')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "airbnb_csv",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dim_day",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "select1"
						},
						{
							"name": "sort1"
						},
						{
							"name": "aggregate1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          City as string,",
						"          Price as string,",
						"          Day as string,",
						"          {Room Type} as string,",
						"          {Shared Room} as string,",
						"          {Private Room} as string,",
						"          {Person Capacity} as string,",
						"          Superhost as string,",
						"          {Multiple Rooms} as string,",
						"          Business as string,",
						"          {Cleanliness Rating} as string,",
						"          {Guest Satisfaction} as string,",
						"          Bedrooms as string,",
						"          {City Center (km)} as string,",
						"          {Metro Distance (km)} as string,",
						"          {Attraction Index} as string,",
						"          {Normalised Attraction Index} as string,",
						"          {Restraunt Index} as string,",
						"          {Normalised Restraunt Index} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 select(mapColumn(",
						"          DayType = Day",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sort(asc(DayType, true)) ~> sort1",
						"sort1 aggregate(groupBy(DayType),",
						"     each(match(name!='DayType'), $$ = first($$))) ~> aggregate1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          DayType as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          DayType",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/airbnb_csv')]",
				"[concat(variables('factoryId'), '/datasets/dim_day')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_dim_metro_distance')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "airbnb_csv",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dim_metro_distance",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "select1"
						},
						{
							"name": "sort1"
						},
						{
							"name": "aggregate1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          City as string,",
						"          Price as string,",
						"          Day as string,",
						"          {Room Type} as string,",
						"          {Shared Room} as string,",
						"          {Private Room} as string,",
						"          {Person Capacity} as string,",
						"          Superhost as string,",
						"          {Multiple Rooms} as string,",
						"          Business as string,",
						"          {Cleanliness Rating} as string,",
						"          {Guest Satisfaction} as string,",
						"          Bedrooms as string,",
						"          {City Center (km)} as string,",
						"          {Metro Distance (km)} as decimal(22,17),",
						"          {Attraction Index} as string,",
						"          {Normalised Attraction Index} as string,",
						"          {Restraunt Index} as string,",
						"          {Normalised Restraunt Index} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 select(mapColumn(",
						"          metroDistance = {Metro Distance (km)}",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sort(asc(metroDistance, true)) ~> sort1",
						"sort1 aggregate(groupBy(metroDistance),",
						"     each(match(name!='metroDistance'), $$ = first($$))) ~> aggregate1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          metroDistance as decimal(22,17)",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          metroDistance",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/airbnb_csv')]",
				"[concat(variables('factoryId'), '/datasets/dim_metro_distance')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_dim_normal_restaurant_index')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "airbnb_csv",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dim_normal_restaurant_index",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "select1"
						},
						{
							"name": "sort1"
						},
						{
							"name": "aggregate1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          City as string,",
						"          Price as string,",
						"          Day as string,",
						"          {Room Type} as string,",
						"          {Shared Room} as string,",
						"          {Private Room} as string,",
						"          {Person Capacity} as string,",
						"          Superhost as string,",
						"          {Multiple Rooms} as string,",
						"          Business as string,",
						"          {Cleanliness Rating} as string,",
						"          {Guest Satisfaction} as string,",
						"          Bedrooms as string,",
						"          {City Center (km)} as string,",
						"          {Metro Distance (km)} as string,",
						"          {Attraction Index} as string,",
						"          {Normalised Attraction Index} as string,",
						"          {Restraunt Index} as string,",
						"          {Normalised Restraunt Index} as decimal(21,18)",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 select(mapColumn(",
						"          normalRestaurantIndex = {Normalised Restraunt Index}",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sort(asc(normalRestaurantIndex, true)) ~> sort1",
						"sort1 aggregate(groupBy(normalRestaurantIndex),",
						"     each(match(name!='normalRestaurantIndex'), $$ = first($$))) ~> aggregate1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          normalRestaurantIndex as decimal(21,18)",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          normalRestaurantIndex",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/airbnb_csv')]",
				"[concat(variables('factoryId'), '/datasets/dim_normal_restaurant_index')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_dim_price')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "airbnb_csv",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dim_price",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "select1"
						},
						{
							"name": "sort1"
						},
						{
							"name": "aggregate1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          City as string,",
						"          Price as decimal(26,18),",
						"          Day as string,",
						"          {Room Type} as string,",
						"          {Shared Room} as string,",
						"          {Private Room} as string,",
						"          {Person Capacity} as string,",
						"          Superhost as string,",
						"          {Multiple Rooms} as string,",
						"          Business as string,",
						"          {Cleanliness Rating} as string,",
						"          {Guest Satisfaction} as string,",
						"          Bedrooms as string,",
						"          {City Center (km)} as string,",
						"          {Metro Distance (km)} as string,",
						"          {Attraction Index} as string,",
						"          {Normalised Attraction Index} as string,",
						"          {Restraunt Index} as string,",
						"          {Normalised Restraunt Index} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 select(mapColumn(",
						"          Price",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sort(asc(Price, true)) ~> sort1",
						"sort1 aggregate(groupBy(Price),",
						"     each(match(name!='Price'), $$ = first($$))) ~> aggregate1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          Price as decimal(26,18)",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          Price",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/airbnb_csv')]",
				"[concat(variables('factoryId'), '/datasets/dim_price')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_dim_private_room')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "airbnb_csv",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dim_private_room",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "select1"
						},
						{
							"name": "sort1"
						},
						{
							"name": "aggregate1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          City as string,",
						"          Price as string,",
						"          Day as string,",
						"          {Room Type} as string,",
						"          {Shared Room} as string,",
						"          {Private Room} as boolean,",
						"          {Person Capacity} as string,",
						"          Superhost as string,",
						"          {Multiple Rooms} as string,",
						"          Business as string,",
						"          {Cleanliness Rating} as string,",
						"          {Guest Satisfaction} as string,",
						"          Bedrooms as string,",
						"          {City Center (km)} as string,",
						"          {Metro Distance (km)} as string,",
						"          {Attraction Index} as string,",
						"          {Normalised Attraction Index} as string,",
						"          {Restraunt Index} as string,",
						"          {Normalised Restraunt Index} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 select(mapColumn(",
						"          IsPrivate = {Private Room}",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sort(asc(IsPrivate, true)) ~> sort1",
						"sort1 aggregate(groupBy(IsPrivate),",
						"     each(match(name!='IsPrivate'), $$ = first($$))) ~> aggregate1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          IsPrivate as boolean",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          IsPrivate",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/airbnb_csv')]",
				"[concat(variables('factoryId'), '/datasets/dim_private_room')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_dim_room_type')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "airbnb_csv",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dim_room_type",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "select1"
						},
						{
							"name": "sort1"
						},
						{
							"name": "aggregate1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          City as string,",
						"          Price as string,",
						"          Day as string,",
						"          {Room Type} as string,",
						"          {Shared Room} as string,",
						"          {Private Room} as string,",
						"          {Person Capacity} as string,",
						"          Superhost as string,",
						"          {Multiple Rooms} as string,",
						"          Business as string,",
						"          {Cleanliness Rating} as string,",
						"          {Guest Satisfaction} as string,",
						"          Bedrooms as string,",
						"          {City Center (km)} as string,",
						"          {Metro Distance (km)} as string,",
						"          {Attraction Index} as string,",
						"          {Normalised Attraction Index} as string,",
						"          {Restraunt Index} as string,",
						"          {Normalised Restraunt Index} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 select(mapColumn(",
						"          RoomType = {Room Type}",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sort(asc(RoomType, true)) ~> sort1",
						"sort1 aggregate(groupBy(RoomType),",
						"     each(match(name!='RoomType'), $$ = first($$))) ~> aggregate1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          RoomType as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          RoomType",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/airbnb_csv')]",
				"[concat(variables('factoryId'), '/datasets/dim_room_type')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_dim_shared_room')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "airbnb_csv",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dim_shared_room",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "select1"
						},
						{
							"name": "sort1"
						},
						{
							"name": "aggregate1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          City as string,",
						"          Price as string,",
						"          Day as string,",
						"          {Room Type} as string,",
						"          {Shared Room} as boolean,",
						"          {Private Room} as string,",
						"          {Person Capacity} as string,",
						"          Superhost as string,",
						"          {Multiple Rooms} as string,",
						"          Business as string,",
						"          {Cleanliness Rating} as string,",
						"          {Guest Satisfaction} as string,",
						"          Bedrooms as string,",
						"          {City Center (km)} as string,",
						"          {Metro Distance (km)} as string,",
						"          {Attraction Index} as string,",
						"          {Normalised Attraction Index} as string,",
						"          {Restraunt Index} as string,",
						"          {Normalised Restraunt Index} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 select(mapColumn(",
						"          IsShared = {Shared Room}",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sort(asc(IsShared, true)) ~> sort1",
						"sort1 aggregate(groupBy(IsShared),",
						"     each(match(name!='IsShared'), $$ = first($$))) ~> aggregate1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          IsShared as boolean",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          IsShared",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/airbnb_csv')]",
				"[concat(variables('factoryId'), '/datasets/dim_shared_room')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_normal_attraction_index')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "airbnb_csv",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dim_normal_attraction_index",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "select1"
						},
						{
							"name": "sort1"
						},
						{
							"name": "aggregate1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          City as string,",
						"          Price as string,",
						"          Day as string,",
						"          {Room Type} as string,",
						"          {Shared Room} as string,",
						"          {Private Room} as string,",
						"          {Person Capacity} as string,",
						"          Superhost as string,",
						"          {Multiple Rooms} as string,",
						"          Business as string,",
						"          {Cleanliness Rating} as string,",
						"          {Guest Satisfaction} as string,",
						"          Bedrooms as string,",
						"          {City Center (km)} as string,",
						"          {Metro Distance (km)} as string,",
						"          {Attraction Index} as string,",
						"          {Normalised Attraction Index} as decimal(21,18),",
						"          {Restraunt Index} as string,",
						"          {Normalised Restraunt Index} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 select(mapColumn(",
						"          normalAttractionIndex = {Normalised Attraction Index}",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sort(asc(normalAttractionIndex, true)) ~> sort1",
						"sort1 aggregate(groupBy(normalAttractionIndex),",
						"     each(match(name!='normalAttractionIndex'), $$ = first($$))) ~> aggregate1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          normalAttractionIndex as decimal(21,18)",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          normalAttractionIndex",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/airbnb_csv')]",
				"[concat(variables('factoryId'), '/datasets/dim_normal_attraction_index')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_person_capacity')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "airbnb_csv",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dim_person_capacity",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "select1"
						},
						{
							"name": "sort1"
						},
						{
							"name": "aggregate1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          City as string,",
						"          Price as string,",
						"          Day as string,",
						"          {Room Type} as string,",
						"          {Shared Room} as string,",
						"          {Private Room} as string,",
						"          {Person Capacity} as integer,",
						"          Superhost as string,",
						"          {Multiple Rooms} as string,",
						"          Business as string,",
						"          {Cleanliness Rating} as string,",
						"          {Guest Satisfaction} as string,",
						"          Bedrooms as string,",
						"          {City Center (km)} as string,",
						"          {Metro Distance (km)} as string,",
						"          {Attraction Index} as string,",
						"          {Normalised Attraction Index} as string,",
						"          {Restraunt Index} as string,",
						"          {Normalised Restraunt Index} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 select(mapColumn(",
						"          capacity = {Person Capacity}",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sort(asc(capacity, true)) ~> sort1",
						"sort1 aggregate(groupBy(capacity),",
						"     each(match(name!='capacity'), $$ = first($$))) ~> aggregate1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          capacity as integer",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          capacity",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/airbnb_csv')]",
				"[concat(variables('factoryId'), '/datasets/dim_person_capacity')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dim_guest_satisfaction')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "airbnb_csv",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dim_guest_satisfaction",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "select1"
						},
						{
							"name": "sort1"
						},
						{
							"name": "aggregate1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          City as string,",
						"          Price as string,",
						"          Day as string,",
						"          {Room Type} as string,",
						"          {Shared Room} as string,",
						"          {Private Room} as string,",
						"          {Person Capacity} as string,",
						"          Superhost as string,",
						"          {Multiple Rooms} as string,",
						"          Business as string,",
						"          {Cleanliness Rating} as string,",
						"          {Guest Satisfaction} as integer,",
						"          Bedrooms as string,",
						"          {City Center (km)} as string,",
						"          {Metro Distance (km)} as string,",
						"          {Attraction Index} as string,",
						"          {Normalised Attraction Index} as string,",
						"          {Restraunt Index} as string,",
						"          {Normalised Restraunt Index} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 select(mapColumn(",
						"          guestSatisfaction = {Guest Satisfaction}",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sort(asc(guestSatisfaction, true)) ~> sort1",
						"sort1 aggregate(groupBy(guestSatisfaction),",
						"     each(match(name!='guestSatisfaction'), $$ = first($$))) ~> aggregate1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          guestSatisfaction as integer",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/airbnb_csv')]",
				"[concat(variables('factoryId'), '/datasets/dim_guest_satisfaction')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_HECHOS_ESTANCIAS_v2')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "airbnb_csv",
								"type": "DatasetReference"
							},
							"name": "airbnbCsv"
						},
						{
							"dataset": {
								"referenceName": "dim_price",
								"type": "DatasetReference"
							},
							"name": "dimprice"
						},
						{
							"dataset": {
								"referenceName": "dim_day",
								"type": "DatasetReference"
							},
							"name": "dimDay"
						},
						{
							"dataset": {
								"referenceName": "dim_room_type",
								"type": "DatasetReference"
							},
							"name": "dimRoomType"
						},
						{
							"dataset": {
								"referenceName": "dim_person_capacity",
								"type": "DatasetReference"
							},
							"name": "dimPersonCapacity"
						},
						{
							"dataset": {
								"referenceName": "dim_cleanless_rating",
								"type": "DatasetReference"
							},
							"name": "dimCleanlessRating"
						},
						{
							"dataset": {
								"referenceName": "dim_bedrooms",
								"type": "DatasetReference"
							},
							"name": "dimBedrooms"
						},
						{
							"dataset": {
								"referenceName": "dim_metro_distance",
								"type": "DatasetReference"
							},
							"name": "dimMetroDistance"
						},
						{
							"dataset": {
								"referenceName": "dim_normal_restaurant_index",
								"type": "DatasetReference"
							},
							"name": "dimNormalRestaurantIndex"
						},
						{
							"dataset": {
								"referenceName": "dim_normal_attraction_index",
								"type": "DatasetReference"
							},
							"name": "dimNormalAttractionIndex"
						},
						{
							"dataset": {
								"referenceName": "dim_city_distance",
								"type": "DatasetReference"
							},
							"name": "dimCityDistance"
						},
						{
							"dataset": {
								"referenceName": "dim_guest_satisfaction",
								"type": "DatasetReference"
							},
							"name": "dimGuestSatisfaction"
						},
						{
							"dataset": {
								"referenceName": "dim_private_room",
								"type": "DatasetReference"
							},
							"name": "dimPrivateRoom"
						},
						{
							"dataset": {
								"referenceName": "dim_shared_room",
								"type": "DatasetReference"
							},
							"name": "dimSharedRoom"
						},
						{
							"dataset": {
								"referenceName": "dim_city",
								"type": "DatasetReference"
							},
							"name": "dimCity"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "hechos_estancias",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "lookup1"
						},
						{
							"name": "lookup2"
						},
						{
							"name": "lookup3"
						},
						{
							"name": "lookup4"
						},
						{
							"name": "lookup5"
						},
						{
							"name": "lookup6"
						},
						{
							"name": "lookup7"
						},
						{
							"name": "lookup8"
						},
						{
							"name": "lookup9"
						},
						{
							"name": "lookup10"
						},
						{
							"name": "lookup11"
						},
						{
							"name": "lookup12"
						},
						{
							"name": "lookup13"
						},
						{
							"name": "lookup14"
						},
						{
							"name": "select1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          City as string,",
						"          Price as decimal(26,18),",
						"          Day as string,",
						"          {Room Type} as string,",
						"          {Shared Room} as boolean,",
						"          {Private Room} as boolean,",
						"          {Person Capacity} as integer,",
						"          Superhost as boolean,",
						"          {Multiple Rooms} as boolean,",
						"          Business as string,",
						"          {Cleanliness Rating} as integer,",
						"          {Guest Satisfaction} as integer,",
						"          Bedrooms as integer,",
						"          {City Center (km)} as decimal(23,17),",
						"          {Metro Distance (km)} as decimal(22,17),",
						"          {Attraction Index} as decimal(21,18),",
						"          {Normalised Attraction Index} as decimal(21,18),",
						"          {Restraunt Index} as decimal(21,18),",
						"          {Normalised Restraunt Index} as decimal(21,18)",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> airbnbCsv",
						"source(output(",
						"          Price as decimal(26,18)",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'Select * from dbo.Dim_price',",
						"     format: 'query') ~> dimprice",
						"source(output(",
						"          DayType as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'Select * from dbo.Dim_day',",
						"     format: 'query') ~> dimDay",
						"source(output(",
						"          RoomType as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'Select * from dbo.dim_room_type',",
						"     format: 'query') ~> dimRoomType",
						"source(output(",
						"          capacity as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'Select * from dbo.dim_person_capacity',",
						"     format: 'query') ~> dimPersonCapacity",
						"source(output(",
						"          clRating as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'Select * from dbo.dim_cleanless_rating',",
						"     format: 'query') ~> dimCleanlessRating",
						"source(output(",
						"          bedrooms as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'select * from dbo.dim_bedrooms',",
						"     format: 'query') ~> dimBedrooms",
						"source(output(",
						"          metroDistance as decimal(22,17)",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'Select * from dbo.dim_metro_distance',",
						"     format: 'query') ~> dimMetroDistance",
						"source(output(",
						"          normalRestaurantIndex as decimal(21,18)",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'select * from dbo.dim_normal_restaurant_index',",
						"     format: 'query') ~> dimNormalRestaurantIndex",
						"source(output(",
						"          normalAttractionIndex as decimal(21,18)",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'select * from dbo.dim_normal_attraction_index',",
						"     format: 'query') ~> dimNormalAttractionIndex",
						"source(output(",
						"          cityDistance as decimal(23,17)",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'select * from dbo.dim_city_distance',",
						"     format: 'query') ~> dimCityDistance",
						"source(output(",
						"          guestSatisfaction as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'select * from dbo.dim_guest_satisfaction',",
						"     format: 'query') ~> dimGuestSatisfaction",
						"source(output(",
						"          IsPrivate as boolean",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'select * from dbo.dim_private_room',",
						"     format: 'query') ~> dimPrivateRoom",
						"source(output(",
						"          IsShared as boolean",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'select * from dbo.dim_shared_room',",
						"     format: 'query') ~> dimSharedRoom",
						"source(output(",
						"          City as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'select * from dbo.dim_city',",
						"     format: 'query') ~> dimCity",
						"airbnbCsv, dimprice lookup(airbnbCsv@Price == dimprice@Price,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookup1",
						"lookup1, dimDay lookup(Day == DayType,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookup2",
						"lookup2, dimRoomType lookup({Room Type} == RoomType,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookup3",
						"lookup3, dimPersonCapacity lookup({Person Capacity} == capacity,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookup4",
						"lookup4, dimCleanlessRating lookup({Cleanliness Rating} == clRating,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookup5",
						"lookup5, dimBedrooms lookup(airbnbCsv@Bedrooms == dimBedrooms@bedrooms,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookup6",
						"lookup6, dimMetroDistance lookup({Metro Distance (km)} == metroDistance,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookup7",
						"lookup7, dimNormalRestaurantIndex lookup({Normalised Restraunt Index} == normalRestaurantIndex,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookup8",
						"lookup8, dimNormalAttractionIndex lookup({Normalised Attraction Index} == normalAttractionIndex,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookup9",
						"lookup9, dimCityDistance lookup({City Center (km)} == cityDistance,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookup10",
						"lookup10, dimGuestSatisfaction lookup({Guest Satisfaction} == guestSatisfaction,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookup11",
						"lookup11, dimPrivateRoom lookup({Private Room} == IsPrivate,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookup12",
						"lookup12, dimSharedRoom lookup({Shared Room} == IsShared,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookup13",
						"lookup13, dimCity lookup(airbnbCsv@City == dimCity@City,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lookup14",
						"lookup14 select(mapColumn(",
						"          Superhost,",
						"          MultipleRooms = {Multiple Rooms},",
						"          Business,",
						"          Price = dimprice@Price,",
						"          DayType,",
						"          RoomType,",
						"          capacity,",
						"          clRating,",
						"          bedrooms = dimBedrooms@bedrooms,",
						"          metroDistance,",
						"          normalRestaurantIndex,",
						"          normalAttractionIndex,",
						"          cityDistance,",
						"          guestSatisfaction,",
						"          IsPrivate,",
						"          IsShared,",
						"          City = dimCity@City,",
						"          AttractionIndex = {Attraction Index},",
						"          RestrauntIndex = {Restraunt Index}",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          id_estancia as integer,",
						"          City as string,",
						"          Price as decimal(26,18),",
						"          DayType as string,",
						"          RoomType as string,",
						"          IsShared as boolean,",
						"          IsPrivate as boolean,",
						"          capacity as integer,",
						"          superhost as boolean,",
						"          multipleRooms as boolean,",
						"          clRating as integer,",
						"          guestSatisfaction as integer,",
						"          bedrooms as integer,",
						"          cityDistance as decimal(23,17),",
						"          metroDistance as decimal(22,17),",
						"          AttractionIndex as decimal(21,18),",
						"          normalAttractionIndex as decimal(21,18),",
						"          normalRestaurantIndex as decimal(21,18),",
						"          RestaurantIndex as decimal(21,18)",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          City,",
						"          Price,",
						"          DayType,",
						"          RoomType,",
						"          IsShared,",
						"          IsPrivate,",
						"          capacity,",
						"          superhost = Superhost,",
						"          multipleRooms = MultipleRooms,",
						"          clRating,",
						"          guestSatisfaction,",
						"          bedrooms,",
						"          cityDistance,",
						"          metroDistance,",
						"          AttractionIndex,",
						"          normalAttractionIndex,",
						"          normalRestaurantIndex,",
						"          RestaurantIndex = RestrauntIndex",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/airbnb_csv')]",
				"[concat(variables('factoryId'), '/datasets/dim_price')]",
				"[concat(variables('factoryId'), '/datasets/dim_day')]",
				"[concat(variables('factoryId'), '/datasets/dim_room_type')]",
				"[concat(variables('factoryId'), '/datasets/dim_person_capacity')]",
				"[concat(variables('factoryId'), '/datasets/dim_cleanless_rating')]",
				"[concat(variables('factoryId'), '/datasets/dim_bedrooms')]",
				"[concat(variables('factoryId'), '/datasets/dim_metro_distance')]",
				"[concat(variables('factoryId'), '/datasets/dim_normal_restaurant_index')]",
				"[concat(variables('factoryId'), '/datasets/dim_normal_attraction_index')]",
				"[concat(variables('factoryId'), '/datasets/dim_city_distance')]",
				"[concat(variables('factoryId'), '/datasets/dim_guest_satisfaction')]",
				"[concat(variables('factoryId'), '/datasets/dim_private_room')]",
				"[concat(variables('factoryId'), '/datasets/dim_shared_room')]",
				"[concat(variables('factoryId'), '/datasets/dim_city')]",
				"[concat(variables('factoryId'), '/datasets/hechos_estancias')]"
			]
		}
	]
}